/*Universal Styles*/
html, body {
  font-family: 'Helvetica';
  background-color: black;
}
/*Header*/
header{
  display: flex;
  align-items:center;
  position:fixed;
  width:100%;
  height:69px;
  border-bottom:1px solid seashell;
  background-color:black;
}

.logo {
display: flex;
align-items: center;
padding-left: 10px;
flex-grow: 1;
}

.logo img{
  height: 50px;
  opacity: 0.9;
}

header nav{
  padding-right: 10px;
  text-decoration: underline;
}

nav span{
  display: inline-block;
  font-family: 'Helvetica';
  color: seashell;
  font-size: 22px;
  opacity: 0.9;
  padding-right: 10px;
}

/*Main Content*/

.content{
  display: flex;
  margin-top: 0;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  align-items: center;
  padding-left: 20px;
  background-color: black;
  color: seashell;
  text-align: center;
  flex-direction: column;
}

/*Our Mission*/

.Our-Mission-Image {
  display: flex;
  height: 700px;
  width: 1200px;
  background-color: black;
  align-items: center;
  flex-grow: 1;
  flex-direction: center;
  justify-content: center;
  padding-top: 70px;
  padding-left: 20px;
  padding-right: 20px;
}

.Our-Mission-Image .Our-Mission {
  display: flex;
  background-color: black;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 1200px;
}

/*Tea of the Month*/

.Tea-Of-The-Month {
display: flex;
padding-top: 100px;
width: 1000px;
align-items: center;
flex-direction: center;
justify-content: center;
position: relative;

}

.Tea-Of-The-Month .Steeping {
  display: flex;
  flex-flow: row wrap;
}

.Teas {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
}

.Blitz .Blitz-Image-Content {
  align-items: center;
  display: block;
  height: 200px;
  width: 300px;
  justify-content: center;
}

.Rum .Rum-Image-Content {
  align-items: center;
  display: block;
  height: 200px;
  width: 300px;
  justify-content: center;
}

.Donuts .Donut-Image-Content {
  align-items: center;
  display: block;
  height: 200px;
  width: 300px;
  justify-content: center;
}

.Myrtle .Myrtle-Image-Content {
  align-items: center;
  display: block;
  height: 200px;
  width: 300px;
  justify-content: center;
}

.Bizzare .Bizzare-Image-Content {
  align-items: center;
  display: block;
  height: 200px;
  width: 300px;
  justify-content: center;
}
